<%# add navigation links to this file %>
<li class="name"><%= link_to 'projects', projects_path %></li>
<li class="name"><%= link_to 'all projects', all_path %></li>
<li class="name"><%= link_to 'new', new_project_path %></li>