<h1>Events</h1>
<h2>Meine erste rails_app, erstellt am: <span class="frame"><%= Time.now %></span></h2>
<%= "<h2>Meine erste rails_app, erstellt am: <span class='frame'> Time.now </span></h2>".html_safe %>
<p>
	<ul>
		<%	@events.each do |event| %>
			<li><%= event %></li>
		<% end %>
	</ul>
</p>